<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Presensi Pelindo</title>

    <!-- Custom fonts for this template-->
    <link
      href="/src/assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Vendor Bootstrap  -->
    <link
      rel="stylesheet"
      href="/src/assets/vendor/bootstrap-icons/bootstrap-icons.css"
    />

    <!-- Custom styles for this template-->
    <link href="/src/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../../../partials/sidebarAdmin', { link: 'rekap-pkl', parent:
      'rekapitulasi'}) %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../../../partials/topbar') %>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Edit Rekapitulasi Siswa PKL</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-12 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Form Edit</h6>
                  </div>
                  <div class="card-body">
                    <div
                      id="success-alert"
                      class="alert alert-success alert-dismissible fade show d-none"
                      role="alert"
                    >
                      <i class="fa fa-check-circle mr-1"></i>
                      <span id="alert-msg"></span>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <!-- Variabels -->
                    <% const { waktu_datang } = rekapitulasi %>
                    <!--  -->
                    <% const { waktu_pulang } = rekapitulasi %>
                    <!-- Variabels -->

                    <form id="form">
                      <div class="mb-3">
                        <label for="nama" class="form-label">Nama Siswa</label>
                        <div class="input-group">
                          <input
                            type="text"
                            id="nama_siswa"
                            class="form-control"
                            value="<%= rekapitulasi.namaPengguna %>"
                            disabled
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="bi bi-person-circle"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="waktu_datang" class="form-label"
                          >Waktu Datang</label
                        >
                        <div class="input-group">
                          <% if (waktuKeterangan == "datang") { %>
                          <input
                            type="time"
                            id="waktu_datang"
                            class="form-control"
                            disabled
                          />
                          <% } else { %>
                          <input
                            type="time"
                            id="waktu_datang"
                            class="form-control"
                            value="<%= rekapitulasi.waktu_datang %>"
                          />
                          <% } %>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="waktu_pulang" class="form-label"
                          >Waktu Pulang</label
                        >
                        <% if (waktuKeterangan == "pulang") { %>
                        <input
                          type="time"
                          id="waktu_pulang"
                          class="form-control"
                          disabled
                        />
                        <% } else { %>
                        <input
                          type="time"
                          id="waktu_pulang"
                          class="form-control"
                          value="<%= rekapitulasi.waktu_pulang %>"
                        />
                        <% } %>
                        <div class="mt-3">
                          <label for="keterangan">Keterangan (opsional)</label>
                          <select id="keterangan" class="form-control">
                            <option selected value="">
                              -- Pilih Keterangan --
                            </option>
                            <% if (jenisKeterangan == "sakit") { %>
                            <option value="sakit" selected>Sakit</option>
                            <% } else { %>
                            <option value="sakit">Sakit</option>
                            <% } %>
                            <!--  -->
                            <% if (jenisKeterangan == "izin") { %>
                            <option value="izin" selected>Izin</option>
                            <% } else { %>
                            <option value="izin">Izin</option>
                            <% } %>
                          </select>
                        </div>
                        <div class="mt-3">
                          <label for="waktu_izin">Waktu Izin</label>
                          <% if (adaKeterangan) { %>
                          <select id="waktu_izin" class="form-control">
                            <option value="" selected disabled>
                              -- Pilih Waktu Izin --
                            </option>
                            <% if (waktuKeterangan == "datang") { %>
                            <option value="datang" selected>
                              Absen Datang
                            </option>
                            <% } else { %>
                            <option value="datang">Absen Datang</option>
                            <% } %>
                            <!--  -->
                            <% if (waktuKeterangan == "pulang") { %>
                            <option value="pulang" selected>
                              Absen Pulang
                            </option>
                            <% } else { %>
                            <option value="pulang">Absen Pulang</option>
                            <% } %>
                            <!--  -->
                            <% if (waktuKeterangan == "seharian") { %>
                            <option value="seharian" selected>Seharian</option>
                            <% } else { %>
                            <option value="seharian">Seharian</option>
                            <% } %>
                          </select>
                          <% } else { %>
                          <select id="waktu_izin" class="form-control" disabled>
                            <option value="" selected disabled>
                              -- Pilih Waktu Izin --
                            </option>
                            <option value="datang">Absen Datang</option>
                            <option value="pulang">Absen Pulang</option>
                            <option value="seharian">Seharian</option>
                          </select>
                          <% } %>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <a
                          href="/admin/rekapitulasi/pkl"
                          class="btn btn-primary btn-icon-split mr-2"
                        >
                          <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                          </span>
                          <span class="text">Kembali</span>
                        </a>
                        <button
                          type="submit"
                          class="btn btn-success btn-icon-split"
                        >
                          <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                          </span>
                          <span class="text">Submit</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/src/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/src/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/src/assets/js/sb-admin-2.min.js"></script>

    <script>
      $("#keterangan").on("change", function () {
        const keterangan = $(this).val()

        $("#waktu_izin").val("")

        if (keterangan != "") {
          $("#waktu_izin").prop("disabled", false)
        } else {
          $("#waktu_izin").prop("disabled", true)
        }

        $("#waktu_datang").prop("disabled", false)
        $("#waktu_pulang").prop("disabled", false)
      })

      $("#waktu_izin").on("change", function () {
        const waktu_izin = $(this).val()

        if (waktu_izin == "datang") {
          $("#waktu_datang").prop("disabled", true)
          $("#waktu_datang").val("")
        } else {
          $("#waktu_datang").prop("disabled", false)
        }

        if (waktu_izin == "pulang") {
          $("#waktu_pulang").prop("disabled", true)
          $("#waktu_pulang").val("")
        } else {
          $("#waktu_pulang").prop("disabled", false)
        }

        if (waktu_izin == "seharian") {
          $("#waktu_datang").prop("disabled", true)
          $("#waktu_pulang").prop("disabled", true)
          $("#waktu_datang").val("")
          $("#waktu_pulang").val("")
        }
      })

      $("#form").on("submit", (e) => {
        e.preventDefault()

        const waktu_datang = $("#waktu_datang").val()
        const waktu_pulang = $("#waktu_pulang").val()
        const keterangan = $("#keterangan").val()
        const waktu_izin = $("#waktu_izin").val()

        const data = { waktu_datang, waktu_pulang, keterangan, waktu_izin }

        $("#success-alert").addClass("d-none")

        fetch("/admin/rekapitulasi/pkl/update/<%= rekapitulasi.id %>", {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }).then(async (result) => {
          if (result.ok) {
            const data = await result.json()

            if (data.message == "Berhasil hapus rekapitulasi") {
              history.back()
            } else {
              $("#success-alert").removeClass("d-none")

              $("#alert-msg").text(data.message)
            }
          }
        })
      })
    </script>
  </body>
</html>
